# IDE
.idea/

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/

# Secrets
Config/Secrets.xcconfig
fastlane/.env
fastlane/report.xml
fastlane/test_output/

# Build / Fastlane
build/
*.ipa
*.dSYM.zip
vendor/bundle/
TestResults*.xcresult/

# macOS
.DS_Store
